@import "../../../../styles.scss";

.app_container {
  display: grid;
  place-items: center;
  height: 100vh;
  .main_container {
    width: 60%;
    height: 70%;
    background-color: $Alce_Blue;
    .views {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main_container {
    width: 100% !important;
    height: 100% !important;
  }
}
