<form [formGroup]=inventoryItemsForm (ngSubmit)="addItem(inventoryItemsForm.value)">
  <p>
    <mat-form-field>
      <input formControlName="ItemName" matInput placeholder="Item Name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input formControlName="ItemQuantity" matInput placeholder="Quantity">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input formControlName="ItemPrice" matInput placeholder="Price">
    </mat-form-field>
  </p>
  <button type="submit" mat-stroked-button color="primary">Add</button>
</form>
