.main {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;

  .home_container {
    width: 60%;
    height: 80vh;
    border: 1px solid black;
  }
}

@media only screen and (max-width: 768px) {
  .home_container {
    width: 100% !important;
    margin-top: 0;
    height: 100vh !important;
  }
}
