<div class="main">
  <div class="home_container">
    <div class="navbar">
      <div class="add_items_container">
        <form [formGroup]=inventoryItemsForm (ngSubmit)="addItem(inventoryItemsForm.value)">
          <input type="text" formControlName="ItemName" class="form_control" placeholder="Apples..">
          <input type="text" formControlName="ItemPrice" class="form_control quantity_input" placeholder="1Kg">
          <input type="text" formControlName="ItemQuantity" class="form_control price_input " placeholder="100rs">
          <i (click)="addItem(inventoryItemsForm.value)" class="fa fa-check fa-2x"></i>
        </form>
      </div>
    </div>
    <div class="inventory_item_container">
      <div *ngIf="inventoryItemsArray.length > 0;else NoItem" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of inventoryItemsArray" cdkDrag>
          <app-inventory-item [InventtoryItem]="item">
          </app-inventory-item>
        </div>
      </div>
      <ng-template #NoItem>
        No Items Avaiable 😃
      </ng-template>
    </div>
  </div>
</div>
